  .note-gallery-container {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco Pro", sans-serif;
    margin-top: 0.6rem;
  }
  
  /* Search Bar */
  .noteGallery-search-bar {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .noteGallery-search-bar input {
    flex: 1;
    height: 3.5rem;
    width: 100%;
    padding: 10px 40px 10px 15px; /* Add space for the button */
    border: 1px solid #d3dce6;
    border-radius: 1rem;
    font-size: 16px;
  }
  
  .noteGallery-seach-icon{
    width: 1.3rem;
    filter: invert(100%) brightness(100%);
  }
  
  .search-btn {
    position: absolute;
    right: 10px; /* Adjust based on padding */
    top: 50%;
    transform: translateY(-50%);
  }
  
  .noteGallery-search-bar .search-btn {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #25BBFF, #6EEAD2);
    border: 1px solid #e0e0e0;
    color: var(--light-2);
    border-radius: 1rem;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    -webkit-user-drag: none; /* Disable drag functionality */
    user-select: none; /* Disable text selection */
  }
  
  .noteGallery-search-bar .search-btn:hover {
    background: linear-gradient(90deg, #2c97ff, #25C1B3);
  }

  .highlight {
    background-color: yellow; /* Highlight color */
    font-weight: bold;
  }
  
  
  /* NoteGallery Folder Cards */
  .notes-gallery-Folderloading-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .notes-gallery-no-folder-message{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    color: var(--primary-6);
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    background-color: var(--light-2);
    border-radius: 6px;
    padding: 6px; 
  }

  .notes-gallery-noFolder-icon{
    width: 70px;
    height: 70px;
  }
  
.noteGallery-folders-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr)); /* Adaptive grid (that behave like display flex) */
  /* margin-bottom: 0.8rem; */
  max-width: 100%; 
  max-height: 210px; /* Limit the container's height */
  overflow-y: auto; /* Add vertical scrolling when content overflows */
}

/* Custom scrollbar styling for WebKit browsers (e.g., Chrome, Edge, Safari) */
.noteGallery-folders-container::-webkit-scrollbar ,
.notes-gallery-container::-webkit-scrollbar {
  width: 5px; /* Set scrollbar width */
}

.noteGallery-folders-container::-webkit-scrollbar-thumb ,
.notes-gallery-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-1); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded scrollbar edges */
}

.noteGallery-folders-container::-webkit-scrollbar-thumb:hover ,
.notes-gallery-container::-webkit-scrollbar-thumb:hover {
  background: var(--primary-3); /* Darker color on hover */
}

.noteGallery-folders-container::-webkit-scrollbar-track ,
.notes-gallery-container::-webkit-scrollbar-track {
  background-color: var(--light);  /* Scrollbar track background color */
}

.noteGallery-folder-card {
  background-color: #ffffff;
  border-radius: 26px;
  padding: calc(5px - 1px) calc(14px - 2px); /* Matches Information padding */
  /* margin-bottom: 1.1rem; */
  margin: 0 0.2rem 1.1rem 0.2rem;
  border: 1px solid var(--lightBorder);
  width: 10em;
  height: 6.2em;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}

.noteGallery-folder-card:hover,
.noteGallery-folder-card.active {
  border: 2px solid transparent;
  border-radius: 26px;
  padding: calc(5px - 2px) calc(14px - 3px) 12px; /* Adjust padding for hover effect */
  background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(#25C1B3, #3372FF) border-box;
}


.noteGallery-folder-icon {
  display: inline-block; /* Ensures transform works */
  margin: 0px 1px 0px 1px;
  width: 50px;
  height: 50px;
  filter: invert(87%) sepia(0%) saturate(548%) hue-rotate(143deg) brightness(95%) contrast(81%);
  background-size: contain;
  transition: transform 0.3s ease;
}

.noteGallery-folder-card:hover .noteGallery-folder-icon {
  transform: scale(0.9) rotate(-10deg);
}

.noteGallery-folder-card:hover .noteGallery-folder-icon {
  filter: none;
  content: url('../../../assets/Icon_fill-Gradient/Folder_DGr.svg'); /* Replace icon on hover */
}

.noteGallery-folder-card.active .noteGallery-folder-icon {
  filter: none;
  content: url('../../../assets/Icon_fill-Gradient/Folder_LGr.svg'); /* Replace icon on active */
}

.noteGallery-folder-title {
  font-size: 15px;
  font-weight: 700;
  margin-left: 2px;
}

.noteGallery-folder-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--light-5);
  color: var(--light);
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 50%;
}

.noteGallery-folder-card:hover .noteGallery-folder-tag,
.noteGallery-folder-card.active .noteGallery-folder-tag
 {
  background: linear-gradient(180deg, #25C1B3, #3372FF); /* Gradient background for tag */
}

/* Folder Full Title */
.noteGallery-folder-title-infull{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 0.8rem;
}

.noteGallery-folder-title-icon{
  width: 17px;
  filter: invert(54%) sepia(72%) saturate(6580%) hue-rotate(159deg) brightness(97%) contrast(94%);
}

.noteGallery-folder-title-full{
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--secondary-6);
}
  
  /* Notes */
  .notes-gallery-loading-container{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .notes-gallery-no-note-message{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    margin-top: 10px;
    color: var(--primary-6);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 6px; 
  }

  .notes-gallery-noNote-icon{
    width: 70px;
    height: 70px;
  }

  .notes-gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 0.9rem;
    max-height: 47vh; /* Limit the container's height */
    overflow-y: auto; /* Add vertical scrolling when content overflows */
  }
  
  .noteGallery-note-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(12px - 1px);
    border: 1px solid transparent; /* Start with a transparent border */
    border-radius: 26px;
    background-color: #D2EFFF80;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out; /* Smooth transition for border color */

  }
  
  .noteGallery-note-card:hover {
    border: 1px solid var(--primary-6);
    padding: calc(12px - 1px);
  }
  
  /* .noteGallery-note-card.active {
    background-color: #D2EFFF80;
  } */

  .noteGallery-note-card-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .noteGallery-note-icon{
    width: 1.4rem;
    height: 1.4rem;
    filter: invert(39%) sepia(100%) saturate(500%) hue-rotate(170deg);
    padding: 0.3rem;
    background-color: #bae0ff79;
    border-radius: 10px;
    box-sizing: content-box; /* Ensure padding does not shrink the icon size */
    display: inline-block;
  }
  
  .noteGallery-note-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  
  .noteGallery-note-content {
    font-size: 12px;
    color: #666;
  }

  .noteGallery-context-item{
    /* display: flex; */
    align-items: center;
    gap: 5px;
    font-size: 16px;
    padding: 5px;
  }

  .noteGallery-context-item:hover{
    background: var(--light-2);
  }
  
  
  /* Context Menu */
  .noteGallery-menu-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  

  .noteGallery-folder-tag,
  .noteGallery-folder-title,
  .noteGallery-folder-title-full,
  .noteGallery-note-title,
  .noteGallery-note-content {
    -webkit-user-drag: none; /* Disable drag functionality */
    user-select: none; /* Disable text selection */
    -webkit-touch-callout: none; /* Prevent text selection on iOS */
  }

@media (max-width: 768px) {
  .notes-gallery-container {
    max-height: 50vh; /* Limit the container's height */
  }

  .notes-gallery-no-folder-message{
    font-size: 1rem;
  }
  
  .notes-gallery-noFolder-icon{
    width: 50px;
    height: 50px;
  }

}